#Source files
*.jsp
*.java
*.jar
*.html
*.css
*.sql
*.xml

#config files
*.DS_STORE
*.MF
*.properties
*.war
!/src/java/handlers/DepartmentHandle.java
!/src/java/utilities/Departments.java
!/web/searchresult.jsp
!/src/java/handlers/SearchTerm.java